html {
  font-size: 18px;
  font-family: Helvetica;
}
div {
  display: block;
}

header  {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

.container {
  max-width: 960px;
  align-content: center;
  margin: 0px auto;
}

/* Header Navigation */

nav {
  background-color: cadetblue;
  display: flex;
  font-size: 1rem;
  padding: 1rem 0px;
  color: white;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
  margin-left: 2rem;
}

nav ul li {
  display: inline;
  padding: 0px 2rem 0px 0px;
}

/* Banner */
header .slogan {
  justify-content: flex-end;
}

.slogan {
  display: flex;
}

h1 {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem 5rem;
  position: relative;
  top: 10rem;
  margin-right: -2rem;
}

/* Services */

.services {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  text-align: center;
  height: 8rem;
  width: 5rem;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
  flex-direction: column;
}

.services img {
  padding: 0 3rem;
  width: 5rem;
  margin-bottom: 1rem;
}

#exam {
  width: 3.5rem;
}

#product {
  line-height: 1.5rem;
}
